<!DOCTYPE html>
<html ng-app="app">

  <head>
    <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <script data-require="jquery@3.0.0" data-semver="3.0.0" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
    <script data-require="angularjs@1.5.7" data-semver="1.5.7" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>



    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  <title>Send Notification to Ramstein Dorms App</title></head>

  <body ng-controller="Ctrl">
    <div class="container">
      <h1>Send a Dorm Notification</h1>
      <form ng-submit="send()">
        <div class="form-group">
          <label for="subject">Subject</label>
          <input ng-model="title" type="text" class="form-control" id="subject" placeholder="Enter a Title" required/>
        </div>
        <div class="form-group">
          <label for="contentMessage">Body Message</label>
          <textarea ng-model="message" class="form-control" placeholder="Enter a Message" required></textarea>
        </div>
        <button id="btnSend" type="submit" class="btn btn-primary btn-lg">Send</button>
      </form>
      <br/>
      <pre>{{console | json}}</pre>
      <pre ng-if="error" class="bg-danger">{{error}}</pre>
    </div>
  </body>

</html>
